@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,500,600,700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* alignment */
*, *:focus { outline: none; border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none }
ul, ol, dl { padding: 0; margin: 0 }
h1, h2, h3, h4, h5, h6, p { margin-top: 0 }
h3 { font-size: 14px; line-height: 20px; text-transform: uppercase; color: #d59d30; letter-spacing: 0.3px; margin-bottom: 44px }
img { border: none; max-width: 100% }
a, a:hover, .logo, .sticky-header, button { text-decoration: none; transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s }
a { text-decoration: none !important }
a:focus { outline: 0; text-decoration: none }
ul li { list-style: none }
* { box-sizing: border-box; }
html, body { height: 100%; font-size: 13px; line-height: 17px; font-family: 'Oswald', sans-serif; -webkit-tap-highlight-color: transparent; }
.container { padding: 0 15px; margin: 0 auto; }
.wrapper { min-height: 100%; margin: 0 auto; background: #202020; }
.main-wrap { width: 100%; height: 100% }
.display-table { display: table; height: 64vh; width: 100%; max-width: 350px; margin: 0 auto }
.display-tablecell { display: table-cell; vertical-align: middle }
.mobile-visible { display: none }
@media (min-width:1200px) {
	.container { max-width: 1200px }
}

/* Fitness Header */
header { position: absolute; top: 0; left: 0; right: 0; padding: 32px 0; z-index: 98; background: #202020; transition: all ease 0.3s }
header * { color: #fff }
header a:focus { outline: none; box-shadow: none }
header .row.justify-content-between { align-items: center }
header .nav-bar { text-align: right }
header a.logo { font-family: 'Raleway', sans-serif; font-weight: 800; font-size: 24px; line-height: 28px; }
header a.logo:hover, header a.logo:focus { color: #fff }
header ul li { display: inline-block; margin: 0 4px }
header ul li:last-child { margin-right: -14px }
header ul li a { display: inline-block; font-size: 14px; line-height: 14px; text-transform: uppercase; padding: 11px 16px; background: transparent; font-family: 'Oswald', sans-serif; position: relative; }
header ul li a span { position: relative; z-index:2; transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s }
header ul li a:before {content: ""; background: #e25050; z-index: 1; position: absolute; right: 0; width: 0; top: 0; bottom: 0; height: 100%; text-decoration: none; transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; }
header ul li a.active:before, header ul li a:hover:before, header ul li a:focus:before { width: 100%; left: 0; }
header .logo { margin-top: 5px; max-width: 108px }
header .right-logo { float: right; max-width: 208px }
.header-inner { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
.header-inner .logo-outer { width: 16.667%; }
.header-inner nav { width: 83.333333%; text-align: right; }
.hamburger-menu { display: none; width: 34px; height: 24px; position: relative; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; float: right }
.hamburger-menu span { display: block; position: absolute; height: 3px; width: 100%; background: #ffffff; border-radius: 0; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.hamburger-menu span:nth-child(1) { top: 0px; }
.hamburger-menu span:nth-child(2) { top: 10px; width: 70%; }
.hamburger-menu span:nth-child(3) { top: 20px; }
.open-menu .hamburger-menu span:nth-child(1) { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); top: 10px; }
.open-menu .hamburger-menu span:nth-child(2) { opacity: 0; left: -30px; }
.open-menu .hamburger-menu span:nth-child(3) { -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); top: 10px; }
.sticky-header header { position: fixed; top: -100%; -webkit-animation: slidFromTop 0.5s ease forwards; animation: slidFromTop 0.5s ease forwards; }
@keyframes slidFromTop {
	0% { top: -100%; }
	100% { top: 0; }
}
main { padding-top: 100px; }

/* Custom slider */
.slider { overflow: hidden; position: relative; }
.slider .container { position: relative; }
.slider ul { display: block; transition: all ease 0.8s; position: relative; height: 581px; overflow: hidden; }
.slider li { float: left; min-height: 581px; position: relative; background-position: center; background-repeat: no-repeat; background-size: cover; }
.hero-img { position: absolute; background-position: center; background-repeat: no-repeat; background-size: cover; left: 0; right: 0; top: -50%; bottom: -50%; }
.slide-content { padding: 0 15px; position: absolute; width: 80%; margin: 0 auto; left: 0; right: 0; top: 35%; -webkit-transform: translateY(10%) skewY(-5deg); -moz-transform: translateY(10%) skewY(-5deg); -ms-transform: translateY(10%) skewY(-5deg); -o-transform: translateY(10%) skewY(-5deg); transform: translateY(10%) skewY(-5deg); opacity: 0; visibility: hidden; color: #fff; transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; transition-delay: 0.8s; -webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; -ms-transition-delay: 0.8s; -o-transition-delay: 0.8s; }
.slider li.active .slide-content { opacity: 1; visibility: visible; -webkit-transform: translateY(0) skewY(0deg); -moz-transform: translateY(0) skewY(0deg); -ms-transform: translateY(0) skewY(0deg); -o-transform: translateY(0) skewY(0deg); transform: translateY(0) skewY(0deg); }
.slide-content h2 { background: #242423; font-size: 30px; line-height: 34px; color: #fff; text-transform: uppercase; padding: 16px 22px; font-family: 'Oswald', sans-serif; font-weight: 700; display: inline-block; margin-bottom: 0; letter-spacing: -0.4px; }
.slide-content p { background: #242423; font-size: 18px; color: #fff; display: inline-block; margin-bottom: 0; font-family: 'Oswald', sans-serif; text-transform: uppercase; padding: 15px 22px; letter-spacing: 1.4px; }
.slide-content span { font-size: 12px; color: #fff; text-transform: uppercase; background: #d4504f; padding: 8px 8px; display: inline-block; letter-spacing: 0.6px; min-width: 148px; text-align: center; }
.blank-div { height: 2px; }
.next-slide, .prev-slide { height: 40px; width: 40px; display: inline-block; cursor: pointer; background-size: 40px; position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); z-index: 9; }
.next-slide.disabled, .prev-slide.disabled { opacity: 0.3 !important; cursor: not-allowed; }
.next-slide:hover, .prev-slide:hover { opacity: 0.7; }
.next-slide { background: url(../images/next.png) no-repeat; right: 5%; }
.prev-slide { background: url(../images/prev.png) no-repeat; left: 5%; }
.contact-us { background: #e25050; font-size: 14px; color: #fff; display: inline-block; line-height:40px; padding-left: 65px; padding-right: 25px; position: absolute; top: 0; right: 15px; z-index: 9; transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; }
.contact-us span { position: relative; z-index: 2; }
.contact-us i { background: #bd4141; display: inline-block; position: absolute; top: 0; left: 0; width: 40px; text-align: center; z-index: 3; }
.contact-us:before { position: absolute; content: ""; left: 0; top: 0; height: 100%; width: 40px; transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; background: #bd4141; z-index: 1; }
.contact-us:hover:before { width: 100%; }

/* Trainer Section */
.trainer-card .trainer-card-front, .trainer-card .trainer-card-back { transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; }
.trainer-info-listing { padding: 56px 0 58px; background-repeat: no-repeat; background-position: center; background-size: cover; }
.trainer-info-listing h2 { font-size: 24px; line-height: 28px; position: relative; color: #ffffff; text-align: center; font-family: 'Oswald', sans-serif; font-weight: 700; margin-bottom: 70px; text-transform: uppercase; }
.trainer-info-listing h2:after { content: ""; position: absolute; bottom: -9px; width: 45px; height: 1px; background: #fff; margin: 0 auto; left: 0; right: 0; }
.trainers-wrapper { display: flex; flex-wrap: wrap; margin: 0 -15px; }
.trainers-wrapper > .trainer-col { width: 25%; padding: 0 15px; }
.trainer-card { width: 100%; height: 100%; margin: 0; position: relative; min-height: 315px; }
.trainer-card .trainer-card-front { position: absolute; z-index: 1; top: 0; left: 0; width: inherit; height: inherit; transform: rotateX(0) rotateY(0); -webkit-transform: rotateX(0) rotateY(0); -moz-transform: rotateX(0) rotateY(0); -o-transform: rotateX(0) rotateY(0); -ms-transform: rotateX(0) rotateY(0); transform-style: preserve-3d; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.trainer-card .trainer-card-front i { display: block; height: 100%; }
.trainer-card .trainer-card-front img { height: 100%; width: 100%; object-fit: cover; }
.trainer-card .trainer-basic-info { position: absolute; bottom: 0; left: 0; right: 0; background: #fff; padding: 20px; }
.trainer-card h4 { font-family: 'Oswald', sans-serif; text-transform: uppercase; font-weight: 700; font-size: 14px; line-height: 18px; color: #202020; margin-bottom: 2px; letter-spacing: -0.2px; }
.trainer-card span { font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 12px; line-height: 16px; color: #afafaf; }
.trainer-card .trainer-card-back { z-index: 2; background: #fff; padding: 28px 22px; position: absolute; top: 0; left: 0; width: inherit; height: inherit; transform: rotateY(180deg); -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform-style: preserve-3d; -webkit-transform-style: preserve-3d; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.trainer-card:hover .trainer-card-front { transform: rotateY(-180deg); -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); }
.trainer-card:hover .trainer-card-back { transform: rotateX(0) rotateY(0); -webkit-transform: rotateX(0) rotateY(0); -moz-transform: rotateX(0) rotateY(0); -ms-transform: rotateX(0) rotateY(0); -o-transform: rotateX(0) rotateY(0); }
.trainer-card .trainer-card-back p { font-size: 13px; line-height: 21px; color: #777777; font-family: 'Open Sans', sans-serif; }
.trainer-card .trainer-card-back span { margin-bottom: 15px; display: inline-block; }